<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
   <!--<div class="site-name">Online Shop</div>-->
	<div class="site-branding-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="logo">
						<h1>
							<a th:ref="@{/index}"><img th:src="@{/img/logo.png}"></a>
						</h1>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="shopping-item">
						<th:block sec:authorize="isAuthenticated()">
							<a th:href="@{/admin/accountInfo}"
								th:utext="${#request.userPrincipal.name}">..</a>
         							&nbsp;|&nbsp;
        					<a th:href="@{/admin/logout}">Logout</a>
						</th:block>
						<th:block sec:authorize="!isAuthenticated()">
							<a th:href="@{/admin/login}">Login</a>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
   
</div> 
  