<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">Trang chủ</a></li>
                        <li><a th:href="@{/productList}">Sản phẩm</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')"><a th:href="@{/admin/orderList}">Danh sách order</a></li>
                        <li sec:authorize="hasRole('ROLE_MANAGER')"><a th:href="@{/admin/product}">Tạo sản phẩm mới</a></li>
                        <li><a th:href="@{/shoppingCart}">Giỏ hàng</a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

