<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shop Bán Hàng</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      
      <div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
					<li>
						<img th:src="@{/img/h4-slide.png}" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Bàn ghế <span class="primary"> mã 006 <strong></strong></span>
							</h2>
							<h4 class="caption subtitle">Siêu đẹp</h4>
							<a class="caption button-radius" th:href="@{/productList}"><span class="icon"></span>Mua ngay</a>
						</div>
					</li>
					<li><img th:src="@{/img/h4-slide2.png}" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Sản phẩm 2 <span class="primary">Giảm 50% <strong>Giá siêu rẻ</strong></span>
							</h2>
							<h4 class="caption subtitle">Phù hợp cho văn phòng.*</h4>
							<a class="caption button-radius" th:href="@{/productList}"><span class="icon"></span>Mua ngay</a>
						</div>
					</li>
					<li><img th:src="@{/img/h4-slide3.png}" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Sản phẩm 3 <span class="primary">Giảm 50% <strong>Giá siêu rẻ</strong></span>
							</h2>
							<h4 class="caption subtitle">Thích hợp trong gia đình</h4>
							<a class="caption button-radius" th:href="@{/productList}"><span class="icon"></span>Mua ngay</a>
						</div>
					</li>
					<li><img th:src="@{/img/h4-slide4.png}" alt="Slide">
						<div class="caption-group">
						  <h2 class="caption title">
								Sản phẩm 4 <span class="primary">Giá siêu rẻ <strong>Khuyến mãi 50%</strong></span>
							</h2>
							<h4 class="caption subtitle"> Sale sâp sàn</h4>
							<a class="caption button-radius" th:href="@{/productList}"><span class="icon"></span>Mua ngay</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- ./Slider -->
		</div>
		
		
		<div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>Đổi trả 30 ngày</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Free Ship</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Thanh toán bảo mật</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>Sản phẩm mới 100%</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->


	<div class="maincontent-area">
		<div class="zigzag-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="latest-product">
						<h2 class="section-title">Sản phẩm mới nhất</h2>
						<div class="product-carousel">
							<div class="single-product">
								<div class="product-f-image">
									<img th:src="@{/img/product-1.jpg}" alt="">
									<div class="product-hover">
										<a href="#" class="add-to-cart-link"><i
											class="fa fa-shopping-cart"></i> Thêm vào giỏ</a> <a
											href="#" class="view-details-link"><i
											class="fa fa-link"></i> Chi tiết</a>
									</div>
								</div>

								<h2>
									<a href="#">Sản phẩm 1</a>
								</h2>

								<div class="product-carousel-price">
									<ins>$700.00</ins>
									<del>$100.00</del>
								</div>
							</div>
							<div class="single-product">
								<div class="product-f-image">
									<img th:src="@{/img/product-2.jpg}" alt="">
									<div class="product-hover">
										<a th:href="@{/shoppingCart}" class="add-to-cart-link"><i
											class="fa fa-shopping-cart"></i>Thêm vào giỏ</a> <a
											href="#" class="view-details-link"><i
											class="fa fa-link"></i>Chi tiết</a>
									</div>
								</div>

								<h2>Sản phẩm 2</h2>
								<div class="product-carousel-price">
									<ins>$899.00</ins>
									<del>$999.00</del>
								</div>
							</div>
							<div class="single-product">
								<div class="product-f-image">
									<img th:src="@{/img/product-3.jpg}" alt="">
									<div class="product-hover">
										<a th:href="@{/shoppingCart}" class="add-to-cart-link"><i
											class="fa fa-shopping-cart"></i> Thêm vào giỏ</a> <a
											href="#" class="view-details-link"><i
											class="fa fa-link"></i>Chi tiết</a>
									</div>
								</div>

								<h2>Sản phẩm 3</h2>

								<div class="product-carousel-price">
									<ins>$400.00</ins>
									<del>$425.00</del>
								</div>
							</div>
							<div class="single-product">
								<div class="product-f-image">
									<img th:src="@{/img/product-4.jpg}" alt="">
									<div class="product-hover">
										<a th:href="@{/shoppingCart}" class="add-to-cart-link"><i
											class="fa fa-shopping-cart"></i>Thêm vào giỏ</a> <a
											href="#" class="view-details-link"><i
											class="fa fa-link"></i> Chi tiết</a>
									</div>
								</div>

								<h2>
									<a href="#">Sản phẩm 4</a>
								</h2>

								<div class="product-carousel-price">
									<ins>$200.00</ins>
									<del>$225.00</del>
								</div>
							</div>
							<div class="single-product">
								<div class="product-f-image">
									<img th:src="@{/img/product-5.jpg}" alt="">
									<div class="product-hover">
										<a th:href="@{/shoppingCart}" class="add-to-cart-link"><i
											class="fa fa-shopping-cart"></i> Thêm vào giỏ</a> <a
											href="#" class="view-details-link"><i
											class="fa fa-link"></i> Chi tiết</a>
									</div>
								</div>

								<h2>Sản phẩm 5</h2>

								<div class="product-carousel-price">
									<ins>$1200.00</ins>
									<del>$1355.00</del>
								</div>
							</div>
							<div class="single-product">
								<div class="product-f-image">
									<img th:src="@{/img/product-6.jpg}" alt="">
									<div class="product-hover">
										<a th:href="@{/shoppingCart}" class="add-to-cart-link"><i
											class="fa fa-shopping-cart"></i> Thêm vào giỏ</a> <a
											href="" class="view-details-link"><i
											class="fa fa-link"></i> Chi tiết</a>
									</div>
								</div>

								<h2>
									<a href="#">Sản phẩm 6</a>
								</h2>

								<div class="product-carousel-price">
									<ins>$400.00</ins>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End main content area -->
	
	<div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img th:src="@{/img/brand1.png}" alt="">
                            <img th:src="@{img/brand2.png}" alt="">
                            <img th:src="@{/img/brand3.png}" alt="">
                            <img th:src="@{/img/brand4.png}" alt="">
                            <img th:src="@{/img/brand5.png}" alt="">
                            <img th:src="@{/img/brand6.png}" alt="">
                            <img th:src="@{/img/brand1.png}" alt="">
                            <img th:src="@{/img/brand2.png}" alt="">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>


	    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top Sellers</h2>
                        <a th:href="@{/productList}" class="wid-view-more">View All</a>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-1.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sẩn phẩm 1</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-2.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 2</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-3.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 3</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Recently Viewed</h2>
                        <a th:href="@{/productList}" class="wid-view-more">View All</a>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-4.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sẩn phẩm 4</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-1.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 5</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-2.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 6</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top New</h2>
                        <a th:href="@{/productList}" class="wid-view-more">View All</a>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-3.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 7</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-4.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 8</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                        <div class="single-wid-product">
                            <a href="single-product.html"><img th:src="@{/img/product-thumb-1.jpg}" alt="" class="product-thumb"></a>
                            <h2><a th:href="@{/productList}">Sản phẩm 9</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->



	<th:block th:include="/_footer"></th:block>   
       			<!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>
    
    <!-- jQuery easing -->
    <script th:src="@{/js/jquery.easing.1.3.min.js}"></script>
    
    <!-- Main Script -->
    <script th:src="@{/js/main.js}"></script>
    
    <!-- Slider -->
    <script type="text/javascript" th:src="@{/js/bxslider.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.slider.js}"></script>
   </body>
</html>