<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Order</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Font Awesome -->
	<link rel="stylesheet"
		th:href="@{/admin/plugins/fontawesome-free/css/all.min.css}">
	<!-- Ionicons -->
	<link rel="stylesheet"
		href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- DataTables -->
	<link rel="stylesheet"
		th:href="@{/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet"
		th:href="@{/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
	<!-- Google Font: Source Sans Pro -->
	<link
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
		rel="stylesheet">
		
		<!-- jQuery -->
	<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- DataTables -->
	<script th:src="@{/admin/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<script th:src="@{/admin/dist/js/demo.js}"></script>
	<!-- page script -->
	<script>
	  $(function () {
	    $("#example1").DataTable({
	      "responsive": true,
	      "autoWidth": false,
	    });
	    $('#example2').DataTable({
	      "paging": true,
	      "lengthChange": false,
	      "searching": false,
	      "ordering": true,
	      "info": true,
	      "autoWidth": false,
	      "responsive": true,
	    });
	  });
	</script>
</head>
   <body>

	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
					href="#" role="button"><i class="fas fa-bars"></i></a></li>
				<li class="nav-item d-none d-sm-inline-block"><a href="#"
					class="nav-link">Trang chủ</a></li>
				<li class="nav-item d-none d-sm-inline-block"><a href="#"
					class="nav-link">Liên hệ</a></li>
			</ul>

			<!-- SEARCH FORM -->
			<form class="form-inline ml-3">
				<div class="input-group input-group-sm">
					<input class="form-control form-control-navbar" type="search"
						placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				<!-- Messages Dropdown Menu -->
				<li class="nav-item dropdown"><a class="nav-link"
					data-toggle="dropdown" href="#"> <i class="far fa-comments"></i>
						<span class="badge badge-danger navbar-badge">3</span>
				</a></li>
				<!-- Notifications Dropdown Menu -->
				<li class="nav-item"><a class="nav-link"
					data-widget="control-sidebar" data-slide="true" href="#"
					role="button"> <i class="fas fa-th-large"></i>
				</a></li>
			</ul>
		</nav>
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a th:href="@{/admin/accountInfo}" class="brand-link"> <img
				th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo"
				class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">Trang chủ Admin</span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
						<img th:src="@{/admin/dist/img/user2-160x160.jpg}"
							class="img-circle elevation-2" alt="User Image">
					</div>
					<div class="info">
						<a href="#" class="d-block">Xin chào Hiếu Nguyễn</a>
					</div>
				</div>

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column"
						data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
						<li class="nav-item has-treeview menu-open"><a
							th:href="@{/index}" class="nav-link active"> <i
								class="nav-icon fas fa-tachometer-alt"></i>
								<p>
									Trang chủ <i class="right fas fa-angle-left"></i>
								</p>
						</a></li>
						<li class="nav-item has-treeview"><a href="" class="nav-link">
								<i class="nav-icon fas fa-copy"></i>
								<p>
									Đơn hàng <i class="fas fa-angle-left right"></i> <span
										class="badge badge-info right">2</span>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/orderList}"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Danh sách đơn hàng</p>
								</a></li>
								<li class="nav-item"><a th:href="@{/admin/orderList}"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Chi tiết đơn hàng</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-chart-pie"></i>
								<p>
									Sản phẩm <i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/productList}"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Danh sách sản phẩm</p>
								</a></li>
								<li class="nav-item"><a th:href="@{/admin/product}"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Tạo sản phẩm mới</p>
								</a></li>
								<li class="nav-item"><a th:href="@{/admin/product}"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Sửa sản phẩm</p>
								</a></li>
							</ul></li>
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
		</aside>
		<!-- /.sidebar -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Danh sách order</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">DataTables</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
								<h3>Chi tiết đơn hàng</h3>
									<ul>
										<li>Tên: <span th:utext="${orderInfo.customerName}"></span></li>
										<li>Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
										<li>Điện thoại: <span th:utext="${orderInfo.customerPhone}"></span></li>
										<li>Địa chỉ: <span
											th:utext="${orderInfo.customerAddress}"></span></li>
									</ul>
									<h3>Tổng tiền:</h3>
									<ul>
										<li>Tổng: <span class="total"
											th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
										</span>
										</li>
									</ul>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<table id="example2" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Mã SP</th>
												<th>Tên SP</th>
												<th>Số lượng</th>
												<th>Giá tiền</th>
												<th>Tổng tiền</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="orderDetailInfo : ${orderInfo.details}">
												<td th:utext="${orderDetailInfo.productCode}"></td>
												<td th:utext="${orderDetailInfo.productName}"></td>
												<td th:utext="${orderDetailInfo.quanity}"></td>
												<td
													th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
												<td
													th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></td>
											</tr>
										</tbody>
										<tfoot>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
	</div>




















		<!--<div class="page-title">Order Info</div>

		<div class="customer-info-container">
			<h3>Customer Information:</h3>
			<ul>
				<li>Name: <span th:utext="${orderInfo.customerName}"></span></li>
				<li>Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
				<li>Phone: <span th:utext="${orderInfo.customerPhone}"></span></li>
				<li>Address: <span th:utext="${orderInfo.customerAddress}"></span></li>
			</ul>
			<h3>Order Summary:</h3>
			<ul>
				<li>Total: <span class="total"
					th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
				</span>
				</li>
			</ul>
		</div>
		<br />
		<table border="1" style="width: 100%">
			<tr>
				<th>Product Code</th>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Amount</th>
			</tr>
			<tr th:each="orderDetailInfo : ${orderInfo.details}">
				<td th:utext="${orderDetailInfo.productCode}"></td>
				<td th:utext="${orderDetailInfo.productName}"></td>
				<td th:utext="${orderDetailInfo.quanity}"></td>
				<td
					th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
				<td
					th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></td>
			</tr>
		</table>

		<th:block th:include="/_footer"></th:block>-->
</body>
</html>