<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shop Bán Hàng</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
    
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      <div class="container">
         <h3>Cảm ơn bạn đã đặt hàng!</h3>
         ID đơn hàng của bạn là: <span th:utext="${lastOrderedCart.orderNum}"></span>
      </div>
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>